{% extends "base.html" %}

{% block title %}
Auctions List
{% endblock title %}

{% block content %}
<h1 class="d-flex justify-content-center mt-3">Auctions</h1>

  <div class="container d-flex-column justify-content-center align-items-center">
  {% comment %} <a href="{% url 'add_post' %}">
    <button type="button" class="btn btn-primary" >Add Post</button>
  </a> {% endcomment %}
  {% if auctions %}
      <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Starting bid (₹)</th>
              <th scope="col">Current bid (₹)</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Status</th>
              {% comment %} <th scope="col" class="text-center">Actions</th> {% endcomment %}
            </tr>
          </thead>
        {% for auction in auctions%}
          <tbody>
            <tr id="item-{{auction.id}}">
              <td>{{auction.id}}</td>

              <td>
                {% comment %} <a href={% url "post" blog.slug %}> {% endcomment %}
                  {{auction.name|title}}
                </a>
              </td>

              <td>{{auction.description|truncatewords:5}}</td>
              <td>{{auction.starting_bid}}</td>
              <td class="current-bid">{{auction.current_bid}}</td>
              <td>{{auction.start_time}}</td>
              <td>{{auction.end_time}}</td>
              {% if auction.status == 'closed' %}
              <td><p class="btn btn-danger"  >{{auction.status|capfirst}}</p></td>
              {% else %}
              <td><p class="btn btn-success"  >{{auction.status|capfirst}}</p></td>
              {% endif %}

            </tr>
        {% endfor %}
        </table>

  {% else %}
    <div>
      <h1>No Auctions Available!</h1>
    </div>
  {% endif %}
  </div>

  <script>
    const socket = new WebSocket('ws://localhost:8000/ws/auctions/');

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log("WebSocket received:", data);
        if (data.current_bid){
          const itemId = data.item_id;
          const currentBid = data.current_bid;

          // Update the table row with the new bid
          const bidCell = document.querySelector(`#item-${itemId} .current-bid`);
          if (bidCell) {
              bidCell.textContent = currentBid;
          }
        }
        else {
          const itemId = data.item_id;
          const status = data.status;
          location.reload();
        }

    };
    socket.onopen = () => console.log("WebSocket connected");
    socket.onerror = (err) => console.error("WebSocket error:", err);
  </script>
{% endblock content %}